.active {
  background-color: var(--primary-color) !important;
  transition: 0.3s;
}

.dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.dot:hover {
  background-color: var(--primary-color);
}
